.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#0035A7, #0050FF);
  padding: 0px;
  margin: 0px;
  color: white;
}
.Header{
  min-height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.buttonConnect{
  margin-top: 40px;
  margin-right: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #FFEC00;
  font-size: 15px;
  font-weight: 600;
  color: #0035A7;
}
.buttonConnect:hover, .buttonGetPikachu:hover, .buttonEvolve:hover{
  cursor: pointer;
  background-color: #FFEC00;
}

.imgPokemonLogo{
  width: 600px;
  height: 221px;
  margin-top: 30px;
}
.title {
  font-size: 30px;
}
.requirement{
  font-size: 26px;
  color: black;
}
.buttonGetPikachu {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #FFEC00;
  font-size: 20px;
  font-weight: 600;
  color: #0035A7;
}

.explorer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.explorer_container p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button_explorer {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #FFEC00;
  font-size: 15px;
  color: black;
  cursor: pointer;
}

.evolveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.evolveTitle{
  font-size: 26px;
  color: black;
}
.tokenIdContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tokenIdInput {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
}

.buttonEvolve {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #FFEC00;
  font-size: 20px;
  font-weight: 600;
  color: #0035A7;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0050FF;
  border-radius: 10px;
}



@media screen and (max-width: 1700px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#0035A7, #0050FF);
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .Header{
    min-height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonConnect{
    margin: 0;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #FFEC00;
    font-size: 20px;
    font-weight: 600;
    color: #0035A7;
  }
  
  .imgPokemonLogo{
    margin-top: 30px;
    width: 80%;
    height: auto;
  }
  .title {
    margin-top: 50px;
    font-size: 25px;
  }
  .requirement{
    font-size: 15px;
  }
  .buttonGetPikachu {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #FFEC00;
    font-size: 20px;
    font-weight: 600;
    color: #0035A7;
  }
  
  .evolveContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .evolveContainer p {
    text-align: center;
  }
  .evolveTitle{
    font-size: 18px;
  }
  .tokenIdContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tokenIdInput {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
  }
  
  .buttonEvolve {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #FFEC00;
    font-size: 20px;
    font-weight: 600;
    color: #0035A7;
  }
}